{% extends "base/base.html" %}

{% block content %}

<a href="/" style="display:inline-block; margin-bottom:20px;">
    ← Home
</a>

<h2>Create Account</h2>

<form method="post">
    {% csrf_token %}

    {{ form.non_field_errors }}

    <label>First Name</label>
    {{ form.first_name }}

    <label>Last Name</label>
    {{ form.last_name }}

    <label>Email</label>
    {{ form.email }}
    {{ form.email.errors }}

    <label>Mobile Number</label>
    {{ form.mobile_number }}

    <label>College Name</label>
    {{ form.college_name }}

    <label>Department</label>
    {{ form.department }}

    <label>Date of Birth</label>
    {{ form.dob }}

    <label>Password</label>
    {{ form.password1 }}

    <label>Confirm Password</label>
    {{ form.password2 }}

    <button type="submit">Register</button>
</form>

{% endblock %}
