{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>Student Project Portal</title>

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap" rel="stylesheet">

    <!-- Main CSS -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>

<div class="navbar">
    <strong>Student Projects</strong>

    <span class="right">
        {% if user.is_authenticated %}
            <a href="/requests/dashboard/">Home</a>
            <a href="/requests/new/">Create ServiX</a>
            <a href="/requests/my/">My ServiX</a>
            <a href="/payment/">Payment</a>

            {% if user.is_project_admin %}
                <a href="/project-admin/">Project Admin</a>
            {% endif %}
	    <a href="/accounts/profile/">Profile</a>
            <a href="/accounts/logout/">Logout</a>
        {% else %}
            <a href="{% url 'login' %}">Login</a>
        {% endif %}
    </span>
</div>

<div class="container">

    {% if messages %}
        {% for message in messages %}
            <div class="alert alert-success">
                {{ message }}
            </div>
        {% endfor %}
    {% endif %}

    {% block content %}{% endblock %}

</div>

<div class="footer">
    © {{ now|date:"Y" }} Student Project Portal
</div>

</body>
</html>
