{% extends "base/base.html" %}

{% block content %}
<h2>Create Project Request</h2>

{% if form.errors %}
    <div style="color: red;">
        <strong>Form Errors:</strong>
        {{ form.errors }}
    </div>
{% endif %}

<form method="post" enctype="multipart/form-data">
    {% csrf_token %}

    {{ form.title.label_tag }}<br>
    {{ form.title }}<br><br>

    {{ form.description.label_tag }}<br>
    {{ form.description }}<br><br>

    <label>Attachments (you can select multiple files)</label><br>
    <input type="file" name="attachments" multiple><br><br>

    <button type="submit">Submit Request</button>
</form>
{% endblock %}
